<% include ../ui/homehead %>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=ebb3310e602e7027987911af5e30be56"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/jquery.fly.min.js"></script>
 <script>
 	function show(shopname,lng,lat){
 		  var map = new AMap.Map('mapContainer', {
					view: new AMap.View2D({
						center: new AMap.LngLat(lng, lat),
						zoom: 18
					})
			    });
		    AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
			    function(){
			        map.addControl(new AMap.ToolBar());

			        map.addControl(new AMap.Scale());

			        map.addControl(new AMap.OverView({isOpen:true}));
			});
	 		 marker = new AMap.Marker({
			 	 clickable:true,
				 map:map,
				 position:[lng,lat],
				 title:shopname,
				 icon:"http://webapi.amap.com/images/0.png",
				 offset:new AMap.Pixel(-10,-34)
			 });
			 marker.setMap(map);
			 marker.setLabel({
				 offset:new AMap.Pixel(-10,-20),
				 content:shopname
			 });
 	}
  function showNav(tr){
		var bcolor = tr.getElementsByTagName("td")[0];
		bcolor.style.background="#d70c18";
		bcolor.style.color="#FFFFFF";
   }
   function hideNav(tr){
		var bcolor = tr.getElementsByTagName("td")[0];
		bcolor.style.background="";
		bcolor.style.color="#000000";
   }
   
   	
   
   function buy(){
   	if(loginbean=' '){
   		alert('登陆后才能租赁哦');
   	}else{
   		
   	}
   	
   }
   function shoppingCar(){
   	
   }
 </script>     
 <style>
 	.shopping{
 		position: fixed;
 		margin-left: 40px;
 		margin-top: 120px;
 	    width: 60px;
 	    height: 180px;
 	    border: 1px solid #EDEDED;
 	    -webkit-box-shadow:0 0 20px rgba(131, 131, 131, .2);  
		-moz-box-shadow:0 0 20px rgba(131, 131, 131, .2);  
		box-shadow:0 0 20px rgba(131, 131, 131, .2);  
 	}
 	.shop-right{
 		
 		width: 100%;
 		height: 60px;
 	}
 	.showto{
 		float: left;
 		font-size: 10px;
 		cursor: pointer ;
 		margin-top: 7px;
 		color: #A8A297;
 	}
 	.zubutton{
 		
 		float: left;
 		border: 2px solid rgba(215, 68, 73, 0.9);
 		border-radius: 3px; 
 		background: #FFFFFF;
 		width: 25px; 
 		height: 20px; 
 		font-size: 15px;
 		color: rgba(215, 68, 73, 0.9);
 		cursor: pointer ;
 		margin-left: 12px;
 	}
	.u-flyer{
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: fixed;z-index: 9999;
		}
	#msg{
		position:fixed;
		 top:310px;
		 right:137px; 
		 z-index:10000; 
		 width:1px; 
		 height:52px; 
		 line-height:52px; 
		 font-size:20px; 
		 text-align:center; 
		 color: #FFFFFF; 
		 background:#d70c18; 
		 display:none;
		 }
 </style>

 <script>


   		//飞入动画
		$(function aa() {
			
			var offset = $("#end").offset();
			$(".addcar").click(function(event){
				var goodsid = document.getElementsByName('goodsid');
				alert(goodsid.Value)
				var addcar = $(this);
				var img = addcar.parent().find('img').attr('src');
				var flyer = $('<img class="u-flyer"  src="'+img+'">');
				flyer.fly({
					start: {
						left: event.pageX,
						top: event.pageY
					},
					end: {
						left: offset.left+10,
						top: offset.top+10,
						width: 0,
						height: 0
					},
					onEnd: function(){
						$("#msg").show().animate({width: '250px'}, 200).fadeOut(1000);
						addcar.css("cursor","default").removeClass('orange').unbind('click');
						this.destory();
					}
				});
				$.get('/search/car',function(reValue){
					alert(goodsid);
				});
			});
			
		});
   	
</script>
<div class="col-sm-3" style="margin-left: 30px;">
<div class="list-group" style="margin-top: 30px;">
	<a href="#" class="list-group-item active" style="background-color: #d70c18;border-color: #d70c18;">
		<h4 class="list-group-item-heading">
			搜索结果
		</h4>
	</a>
	<%rs.forEach(function(row){%>
	<a  class="list-group-item" >
		<h4 class="list-group-item-heading" >
			商品名：<%-row.goodsname%>
			<div class="ii" style="position: absolute; width: 180px;height: 20px;left: 55%; ">
				<span class="showto" onclick="show('<%-row.shopname%>','<%-row.lng%>','<%-row.lat%>')">查看详情</span>
			 	<span class="zubutton" align="center" title="点击租赁" onclick="buy()">￥</span>
			 	<input name='goodsid' type="hidden" value="<%-row.id%>" />
				<img class="button orange addcar" src="/images/shop.png" style="float: left;margin-left: 10px;cursor: pointer ;"  width="25px" height="20px" title="加入购物车"  />
			</div>
		</h4>
		<p class="list-group-item-text">
			￥：<%-row.price%>
			
		</p>
	</a>
	
    <%})%>
</div>
	
</div>
<div class="col-sm-7" style="margin-top: 30px;" >
	<div id='mapContainer' style="height: 500px;width: auto;"></div>
</div>

      	<script>
	      		//初始化地图对象，加载地图
			    var map = new AMap.Map('mapContainer', {
					view: new AMap.View2D({
						center: new AMap.LngLat(116.417505, 39.894665),
						zoom: 18
					})
			    });
			    AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
				    function(){
				        map.addControl(new AMap.ToolBar());

				        map.addControl(new AMap.Scale());

				        map.addControl(new AMap.OverView({isOpen:true}));
				});

				
	      </script>
<div class="col-sm-1">
	<div class=" shopping">
		<table align="center" style="width: 100%;" >
			<tr class="shop-right" onmouseover="showNav(this)" onmouseout="hideNav(this)" align="center">
				<td>
				首页
			   </td>
			</tr>
			<tr class="shop-right" onmouseover="showNav(this)" onmouseout="hideNav(this)" align="center" style="border-top: 1px solid  #EDEDED;">
				<td>
			    <i id="end"></i>
				<span style="cursor: pointer ;" onclick="shoppingCar()">购物车</span>
			   </td>
			</tr>
			<tr class="shop-right" onmouseover="showNav(this)" onmouseout="hideNav(this)" align="center" style="border-top: 1px solid  #EDEDED;">
				<td>
				TOP
			   </td>
			</tr>
		</table>
	</div>
</div>
<div id="msg">已成功加入购物车！</div>

</body>
</html>
	
