	<script>
function addNewGoods(){
	goodsForm.reset();
	pubform.action='/home/pubshop';
  $('#showgoods').hide();
  $('#goodsForm').show();
  goodsForm.userphotoView.src='';
}
function hideGoodsForm(){

  $('#showgoods').show();
  $('#goodsForm').hide();
}

function dian(id){
 $('#'+id).modal('hide');
  $('#showgoods').hide();
  $('#goodsForm').show();
  $.get('./getGoodsInfo?id='+id,function(reValue){
      if(reValue!=''){
        goodsForm.goodsname.value=reValue.goodsname;
        document.getElementById('userphotoView').src=".."+reValue.goodsimg;
        goodsForm.price.value=reValue.price;
        $(goodsForm.typeid).val(reValue.typeid);
        UE.getEditor('editor').setContent(reValue.goodsintro);
        goodsForm.buttona.value='修改商品';
        goodsForm.goodid.value=id;
      }else{
        alert('库中无此记录');
      }
  });
  goodsForm.action='./updgoods';
  $('#goodsForm').show();
}
	</script>
	<style>
	.box-shadow-3:hover {  
		  -webkit-box-shadow:0 0 20px rgba(131, 131, 131, .7);  
		  -moz-box-shadow:0 0 20px rgba(131, 131, 131, .7);  
		  box-shadow:0 0 20px rgba(131, 131, 131, .7);  
		} 
	</style>
	<form id='goodsForm' style='display:none' enctype="multipart/form-data" method="post" action="/home/pubgoods">
		<table class="table table-hover">
			<caption><a href="#" onclick='hideGoodsForm()' style="color: #6CE26C ;"><<返回</a> 请填写真实的商品信息</caption>

				<tr>
					<td><input type="text" class="form-control"  name="goodsname" id="goodsname"  placeholder="请输入商品名称"/> </td>
				</tr>
				  <tr>
                        <td align='left'><div style="float: left;">商品图片</div>
                  </tr>
                   <tr>      
                        <td align='left'>                           
                           <div class="picbtn" style="float: left;"><img id="ImgPr" src=""/></div>
                           <input type="file"  name="goodsimg" onChange='idphotoChange(this,"userphotoView")'>
                         </td>
                  </tr>
                  
                 <tr>
                    <td align="center" >
                        <img id='userphotoView' style="width: 190px;height:auto;"/>
                    </td>
                 </tr>
                 <tr>
			      <td>
			        <select class="form-control" name='typeid'>
			        <option value='0'>请选择商品类别</option>
			          <option value='1'>重机</option>
			          <option value='2'>车辆</option>
			          <option value='3'>磨具</option>
			        </select>
			      </td>
			    </tr>
                  <tr>
				      <td><input type="text" class="form-control" name="price" id="price" placeholder="请输入价格,如:3.15(3块一毛五)"></td>
				  </tr>

			     <tr>
				      <td>
				        	商品介绍
				      </td>
				 </tr>
                 
                <tr>
                	<td >
                	<div style="height: 400px;"> <% include ueditor%></div>
                        
 
                	</td>
                </tr>
                <tr>
                	<td >
                		<input type='hidden' name='shopid' value='<%-shopRs[0].id%>'/>
                		<input type='hidden' name='goodid' />
                	<input id="buttona" name="buttona" type="submit" class="btn btn-success" value="创建新商品" />
                	</td>
                </tr>

		</table>
		</form>
	    <div id="showgoods" style="width: 100%;">
		   <div  style="margin-left: 5px;">
             <p style=" color: #999999;">您发布的商品信息都在这里 <a href="#" onclick='addNewGoods()' style="color: #FF7800;">点击此处</a> 发布商品</p>
		</div>
			<div style=" margin-left: 20px;margin-top: 15px; width: 400px;"  >
					<!--<% page = parseInt(page); %>
					 共<%- rowCount%>条消息&nbsp;
					 第<%- page%>/<%-sumPage%>页-->
					
					<a href="./shopmanage?page=1">首页</a>
					<a href="./shopmanage?page=<%- page-1%>">上一页</a>
					<% for(i=1;i<=sumPage;i++){ 
						if(page==i){%>
			    	    <a href='./shopmanage?page=<%-i%>'> <span class="badge" ><%-i%></span></a>&nbsp;
			    	   <%}else{%>
			    	   <a href='./shopmanage?page=<%-i%>'> <%-i%></a>&nbsp;
			    	<% } }%>
			    	<%if(page>=sumPage){%>	
			    	<%}else{%>
					<a href="./shopmanage?page=<%-page+1%>">下一页</a>
					<a href="./shopmanage?page=<%-sumPage%>">尾页</a>
					<% }%>
			</div>

			<div style="width: 900px; height: 900px;">
			<% goodRs.forEach(function(row){%>
			<div id="all" class="box-shadow-3" style="width: 280px;height: 285px;float: left;margin-left: 5px;margin-top: 5px; border: 1px solid #F2F2F2;" data-toggle="modal" data-target="#<%-row.id%>">
			<div style=" position: absolute;margin-top: 260px;margin-left: 240px;">
				<a href="/home/deletegood?id=<%-row.id%>" style="color: #C6C6C6;">删除</a>
			</div>
			<div id="head" style="width: 278px;height:218px ;overflow: hidden;">
			<% 
							urs=row.goodsimg.replace(/\\/g,"/");
			%> 
			<img src="<%-urs %> " style="width: auto;height: 225px;"/></td>
			</div>
			<div id="down" style=" width:278px ; height: 53px; line-height: 13px; margin-top: 5px;">
			<p style="font-size: 23px; font: '楷体'; color: #BE290E;"><strong style="font-size: 10px;">￥：</strong><%-row.price%></p>
			<p style="font-size: 10px;color:#808080;">商品名：<%-row.goodsname%></p>
			
			<div  style=" width:278px ; height: 10px;font-size: 5px;color:#808080;">
			<p ><%-row.goodsintro.substring(0,48)%></p>
			</div>
			</div>
			
			</div>
			<div class="modal fade" id="<%-row.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<form name='pubform' method='post' action='./pubshop' onsubmit='return onSubPub();' enctype="multipart/form-data">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<%-row.goodsname%><input id="price" name="price" type="hidden" value="<%-row.goodsname%>" />	
						</h4>
					</div>
					<div class="modal-body">
                     <div>
                     	价格：<%-row.price%>
                     	<input id="price" name="price" type="hidden" value="<%-row.price%>" />
                     </div>
                     <div>
                     	商品简介
                     </div>
                     <div>
                     	<%-row.goodsintro%>
                     </div>
					</div>
					<div class="modal-footer" style='text-align:center'>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<input type="button" class="btn btn-primary" onclick="dian(<%-row.id%>);" value='修改'>
						</input>
					</div>
				</div><!-- /.modal-content -->
			</form>
			</div>
			</div>
			<!-- /.modal -->	
			 <%})%>
			</div>
		

	   </div>

        
